li:nth-child(odd) {
  background-color: rgb(236, 236, 236);
}

ul {
  list-style-type: none;
  margin: 0;
}

details {
  font: 16px "Open Sans", Calibri, sans-serif;
  width: 620px;
}

details > summary {
  list-style: none;
}

/* details > summary::-webkit-details-marker {
  display: none;
}
   */
