li:nth-child(even) {
  background-color: rgb(236, 236, 236);
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 10px;
}

details > summary {
  list-style: none;
}

summary {
  pointer-events: none;
}
.clickable {
  pointer-events: auto;
}

.list-wrapper {
  position: relative;
}

.line {
  background: #979696;
  width: 1.5px;
  height: 100%;
  position: absolute;
  left: 10px;
}

li:before {
  content: "\2015"; /* TODO change this to a longer line */
  color: #979696;
}

@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
    font-size: 1em;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

details[open] {
  animation-name: invisiblyGrowFontSize, fadeIn;
  animation-duration: 500ms, 200ms;
  animation-delay: 0ms, 500ms;
}

div {
  display: flex;
  flex-wrap: wrap;
}
