li:nth-child(odd) {
  background-color: rgb(236, 236, 236);
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 10px;
}

details > summary {
  list-style: none;
}

summary {
  pointer-events: none;
}
.clickable {
  pointer-events: auto;
}

.list-wrapper {
  position: relative;
}

.line {
  background: #979696;
  width: 1.5px;
  height: 100%;
  position: absolute;
  left: 10px;
}

li:before {
  content: "-";
  color: #979696;
}
